numpy
matplotlib
git+https://github.com/abey79/vpype#egg=vpype
shapely
requests

# jupyter
jupyterlab
jupyter_nbextensions_configurator
jupyterlab_code_formatter
ipympl
black
isort

# dev/test
pytest
mypy

# documentation
-r docs/requirements.txt
