bezier
numpy
noise
matplotlib
git+https://github.com/abey79/vpype#egg=vpype
shapely[vectorized]
requests

# jupyter
jupyterlab
jupyter_nbextensions_configurator
jupyterlab_code_formatter
ipympl
black
isort

# dev/test
pytest
mypy
nbconvert==5.6.1  # new version failed with py3.8 on Windows
nbformat

# documentation
-r docs/requirements.txt
