Sphinx>=4.5.0
sphinx-autodoc-typehint>=1.17.0
sphinx-rtd-theme>=0.5.1
recommonmark>=0.6,<0.8

#furo==2022.3.4
#sphinx-autobuild==2021.3.14
#sphinx-click==3.1.0
#myst_parser==0.17.0
#sphinx-autodoc-typehints==1.17
#sphinx-copybutton==0.5.0
